.card{
    /* &:hover{
        --defaultColor: #2EA8E6;  
        --selectedColor: #2EA8E6;
    }      */
    .card-border{    
        position: relative;
        width: 320px;
        height: 480px;
        background-color: #1698D9;
        border-radius: 14px;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%); 
        }
    .card__view {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 312px; 
        height: 472px; 
        background-color: #f2f2f2;
        border-radius: 11px;
        overflow: hidden;
        clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);  
        cursor: pointer; 
    } 
    
    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        padding: 21px 0 0 48px;
    }
    
    .supheader {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    
    .header {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #000000;
    }
    
    .taste {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    
    .descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        max-width: 180px;
        color: #000000;
    }
    
    .round {
        position: absolute;
        width: 80px;
        height: 80px;
        background-color:  #1698D9;
        border-radius: 100%;
        bottom: 16px;
        right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 11px;
        padding-top: 10px;
        
        .weight{
            font-family: 'Trebuchet MS', sans-serif;
            font-weight: 400;
            font-size: 42px;
            line-height: 22px;            
            color: #FFFFFF;
        }
        .unit{
            font-family: 'Trebuchet MS', sans-serif;
            font-weight: 400;
            font-size: 21px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
        }            
    } 
    .offer{
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 14px;
        &__disabled{
            color: #FFFF66;
        }
       }
   
    .selected{
        background-color: #D91667;
    }
    .disabled{
        background-color: #B3B3B3;
    }
    .disabled-color{
        color: #B3B3B3;
    }
    .disabled-img{
        opacity: .5;
    }
    .selectedSupheader{
        color: #E62E7A;
    }
    
}

